#container
{
    background-color:white;
    height: 500px;
    width: 100%;
}
.input[type=text] {
    width: 100px;

}
input[type=text]:focus {
    width: 30%;
  }

   
#header ul
{
float: right;
}
.navbar a {
  display: inline;
  font-size: 30px;
  color: lightgrey;
  padding: 5px;
  text-decoration: none;
}

.dropdown {
  display: inline;
  margin-left:0px;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: none;  
  border: none;
  outline: none;
  color:black;
  margin-left: 30px;

  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: lightgrey;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#header ul li
{
display: inline;
margin-right: 15px;
font-family: roboto-regular;
}
#header ul li a
{
    color: gray;
    text-decoration: none;
}
#topbar
{
    background-color:#ffcc00;
    height: 50px;
    width: 100%;
    margin: 1%;
}
#topbar ul
{
float: left;
font-family: roboto-regular ;
}
#topbar ul li
{
display: inline;
margin-right: 25px;
}
#topbar ul li a
{
    color: black;
    text-decoration: none;
}
#content1
{
 width: auto;
 margin-left: 10%;
}
#toolbar
{
    background-color: #eeeeee;
    color: black;
   height: 1800px;
   margin-top: 50px;
}
#toolbar h1
{
    text-align: center;
    
}

.column {
    background-color: #eeeeee ;
    width: 100%;
    float: left;
    width:30%;
    padding: 15px;
    
  }
  
  .row::after {

    content: "";
    clear: both;
    display: table;

  }
 
#content2
{
    color: black;
    background-color: white;
     text-align: center;
}
.colm {

    background-color: white ;
    width: 100%;
    float: left;
    width:45%;
    padding: 0px;
    margin-left: 45px;
  
  }
  
  .row::after {

    content: "";
    clear: both;
    display: table;
  }
  #content3
  {
    color: black;
    background-color: white;
     text-align: center;
  }
  .col{
    
    background-color: white ;
    width: 100%;
    float: left;
    width:30%;
    padding: 15px;
    margin-left: 10px;
  
  }
  
  .row::after {

    content: "";
    clear: both;
    display: table;
  }

  #content4
  {
    color: black;
    background-color: white;
    text-align: center;
  }
  .col2{
    
    background-color: white ;
    width: 100%;
    float: left;
    width:30%;
    padding: 10px;
    margin-left: 15px;
  
  }
  .row::after {

    content: "";
    clear: both;
    display: table;
  }

  #content5
  {
    color: black;
    background-color: white;
    text-align: center;
  }
  .col3{
    
    background-color: white ;
    width: 100%;
    float: left;
    width:30%;
    padding: 15px;
    margin-left: 10px;
  
  }
.row::after {

    content: "";
    clear: both;
    display: table;
  }
  #content6
  {
    color: black;
    background-color: white;
    text-align: center;
  }
  .col4{
    
    background-color: white ;
    width: 100%;
    float: left;
    width:30%;
    padding: 15px;
    margin-left: 10px;
  
  }
  .row::after {

    content: "";
    clear: both;
    display: table;
  }
 
  
 